
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}  

.navbar .navbar-brand.logo{
    color: #fed136;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    font-size: 2em;
    display: inline-flex;
}
.navbar .navbar-brand.logo img{
  height: 45px;
  margin-top: -12px;
  border-radius: 100%;
}
.navbar .navbar-nav li a{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
  color: #fed136 !important;
  background-color: #29292c !important;
}
.navbar-nav li.active a {
    color: #fed136 !important;
    background-color: #29292c !important;
}

.page-footer{
  padding: 0 32px;
  height: 56px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 999;
}
.page-footer .whatsapp-share{
  width: 100%;
  float: left;
  text-align: center;
  padding: 15px;
}
.add-div{
  max-width: 100%;
  max-height: 90px;
  overflow: hidden;
}
#addSubscribe .modal-dialog{
    margin-top: 20%;
}
.subscribePopup p{
  font-size: 16px;
  margin: 20px;
}
.subscribePopup button{
  background-color: #6f6767;
  color: #fff;
  border: 2px solid #cacaca;
  border-radius: 15px;
  font-size: 20px;
  padding: 5px 40px;
  margin: 10px auto;
}
.lang{
  margin: 10px;
  border: 1px solid #eee;
  border-radius: 14px;
  float: right;
}
.lang a{
  display: inline-block;
  color: #ddd;
  padding: 6px 10px;
  width: 85px;
  text-decoration: none;
  text-align: center;
}
.lang .active{
  background-color: #f9312e;
  border-radius: 20px;
  color: #fff;
}
.menu-box{
  margin-top: 55px;
}
.menu-box img{
  width: 100%;
  margin: 5px auto;
}
.menu-box h3{
  position: relative;
  width: 100%;
  z-index: 10;
  margin-top: -54px;
  padding: 15px 10px;
  font-size: 18px;
  height: 100%;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
}